{% extends 'base.html.twig' %}

{% block title %}New List{% endblock %}

{% block body %}
<main>
    <header class="mt-10 flex justify-center items-center gap-6">
        <h1 class="text-5xl font-bold tracking-wide">New List</h1>
        <a class="btn btn-primary btn-sm" href="{{ path('app_note_list_new') }}">Create new</a>
    </header>
    
    <main class="cards-note-list flex flex-wrap justify-center my-8 gap-x-16 gap-y-8 text-neutral">
        {% if app.user %}
        {% for note_list in note_lists %}
        {% if note_list.user == app.user %}
        <div class="card w-80 max-h-[556px] bg-secondary shadow-xl">
            <figure><img src="{{ asset('uploads/imgs/lists/'~note_list.imgUrl) }}"/></figure>
            <div class="card-body">
                <h2 class="card-title">{{ note_list.title }} - <span class="text-sm">{{ note_list.createdAt ? note_list.createdAt|date('d-m-Y') : '' }}</span></h2>
                
                <div class="cards-task truncate max-h-24">
                    {% for task in note_list.tasks %}
                    {% if task.list == note_list %}
                    <ul class="card-task list-disc">
                        <li>{{ task.text }}</li>
                    </ul>
                    {% endif %}
                    {% else %}
                    <p>Nothing (task) is here</p>
                    {% endfor %}
                </div>
    
                <div class="card-actions justify-end items-end">
                    <a class="btn btn-outline btn-primary btn-sm" href="{{ path('app_note_list_show', {'id': note_list.id}) }}">Show List</a>
                    <a class="btn btn-outline btn-primary btn-sm" href="{{ path('app_note_list_edit', {'id': note_list.id}) }}">Edit List</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% else %}
        <p>Nothing is here</p>
        {% endfor %}
        {% else %}
        <p>You need to be connected for see or use a task list</p>
        {% endif %}
    </main>
</main>
{% endblock %}