{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
    <h1>List</h1>

    <div class="card card-note-list">
        <p>{{ note_list.title }} - {{ note_list.createdAt ? note_list.createdAt|date('d-m-Y') : '' }}</p>

        <div class="cards-task">
            {% for task in note_list.tasks %}
            {% if task.list == note_list %}
            <div class="card card-task">
                <p>{{ task.text }}</p>
            </div>
            {% endif %}
            {% else %}
            <p>Nothing (task) is here</p>
            {% endfor %}
        </div>

        {{ form_start(form_task) }}
            {{ form_widget(form_task) }}
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form_task) }}

        <div class="btns">
            <a class="btn btn-primary" href="{{ path('app_note_list_edit', {'id': note_list.id}) }}">Edit</a>
            {{ include('note_list/_delete_form.html.twig') }}
        </div>
    </div>

    <a class="btn btn-primary" href="{{ path('app_note_list_index') }}">Back to list</a>

{% endblock %}
