{% extends 'base.html.twig' %}

{% block title %}NoteList{% endblock %}

{% block body %}
    <h1>NoteList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ note_list.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ note_list.title }}</td>
            </tr>
            <tr>
                <th>Img_url</th>
                <td>{{ note_list.imgUrl }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ note_list.createdAt ? note_list.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_note_list_index') }}">back to list</a>

    <a href="{{ path('app_note_list_edit', {'id': note_list.id}) }}">edit</a>

    {{ include('note_list/_delete_form.html.twig') }}
{% endblock %}
